@font-face {
    font-family: 'FigTree';
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
    font-weight: 500 800;
}

html {
    box-sizing: border-box;
    font-family: 'FigTree';
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: inherit;
    font-size: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(47, 88%, 63%);
}

.maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 384px;
    max-height: 523px;
    padding: 25px;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 16px;
    box-shadow: 9px 9px;
}

.illustration {
    border-radius: 16px;
    margin-bottom: 22px;
}

button {
    font-weight: 800;
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    padding: 10px 14px;
    border: none;
    border-radius: 5px;
}

p {
    font-weight: 500;
}

h1 {
    font-weight: 800;
    font-size: 24px;
}

h1:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
    }

.description {
    color: hsl(0, 0%, 42%);
}

.author {
    display: flex;
    align-items: center;
    font-weight: 800;

    img {
        margin-right: 12px;
        width: 33px;
        cursor: default;
    }
}