:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 42%);
    --dark-gray: hsl(0, 0%, 7%);
}

@font-face {
    font-family: 'FigTree, sans-serif';
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
    font-weight: 500 800;
}

html {
    box-sizing: border-box;
    font-family: 'FigTree, Helvetica, sans-serif';
    font-size: 1rem;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: inherit;
    font-size: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--yellow);
}

.maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.container {
    background-color: var(--white);
    max-width: 24rem;
    max-height: 32.6875rem;
    padding: 1.5625rem;
    border: 0.0625rem solid var(--dark-gray);
    border-radius: 1rem;
    box-shadow: 0.5625rem 0.5625rem;
}

.illustration {
    border-radius: 1rem;
    margin-block-end: 1.375rem;
}

button {
    font-weight: 800;
    background-color: var(--yellow);
    color: var(--dark-gray);
    padding: 0.625rem 0.875rem;
    border: none;
    border-radius: 0.3125rem;
}

p {
    font-weight: 500;
}

h1 {
    font-weight: 800;
    font-size: 1.5rem;
}

h1:hover {
    color: var(--yellow);
    cursor: pointer;
    }

.description {
    color: var(--light-gray);
}

.author {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 0.875rem;

    img {
        margin-inline-end: 0.75rem;
        width: 2.0625rem;
        cursor: default;
    }
}